    body {
        margin: 0;
        padding: 0;
        background-color: var(--blue);
    }
    
     :root {
        --blue: rgb(97, 97, 187);
        --white: white;
        --black: black;
        --darkBlue: rgb(50, 50, 50);
    }
    
    .loginPage {
        max-width: 1000px;
        margin: 20px auto;
        padding: 20px;
    }
    
    .loginNavbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
    }
    
    .loginNavName {
        cursor: pointer;
        color: var(--white);
    }
    
    .loginNavName:hover {
        color: var(--black);
    }
    
    .loginSignUp {
        border: none;
        border-radius: 25px;
        height: 40px;
        width: 100px;
        cursor: pointer;
        text-align: center;
    }
    
    .loginSignUp:hover {
        background-color: var(--blue);
        color: var(--white);
    }
    
    .userContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        gap: 10px;
    }
    
    .userContainer div {
        padding: 10px;
        width: 250px;
    }
    
    .userContainer div:hover {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
    }
    
    .userForm {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .userForm input,
    button {
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        box-shadow: none;
        outline: none;
    }
    
    .LoginFooter {
        text-align: center;
    }
    
    .headerPage,
    .homePage {
        max-width: 1000px;
        margin: 10px auto;
        padding: 10px;
    }
    
    .headerDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header {
        display: flex;
        gap: 10px;
        padding: 5px;
    }
    
    .header img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }
    
    .headerSvgContainer {
        display: flex;
        gap: 7px;
    }
    
    .headerSvgContainer svg {
        height: 25px;
        width: 25px;
    }
    
    .balanceContainer {
        padding: 20px;
        background-color: var(--white);
        border-radius: 15px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
    
    .balanceHeader {
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .showBalance {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .showBalance button {
        border: none;
        background: none;
    }
    
    .availableBalance {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .availableBalance button {
        border-radius: 25px;
        background-color: var(--black);
        color: var(--white);
    }
    
    .transferContainer {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    
    .transferOption {
        margin: 10px;
        padding: 20px;
        color: var(--darkBlue);
        border-radius: 15px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        text-align: center;
        cursor: pointer;
        flex: 1;
    }
    
    .transferOption p:hover {
        color: var(--white);
    }
    
    .transferOption svg,
    .wealthContainer svg,
    .headerSVG,
    .links svg,
    .otherSVG,
    .quickAccessContainer svg {
        height: 32px;
        width: 32px;
    }
    
    .wealthContainer {
        /* margin-top: 10px; */
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }
    
    .wealthOption {
        flex: 1;
        color: var(--darkBlue);
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
    }
    
    .wealthOption button {
        border: none;
        background: none;
        color: var(--darkBlue);
        cursor: pointer;
    }
    
    .wealthOption p:hover {
        color: var(--white);
    }
    
    .slider {
        width: 100%;
        height: 100px;
        overflow: hidden;
        position: relative;
        border-radius: 50px;
        margin-top: 15px;
        background-color: aqua;
    }
    
    .slider-track {
        display: flex;
        width: 100%;
        height: 100%;
        transition: transform 0.6s ease-in-out;
    }
    
    .slider-track img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        flex-shrink: 0;
    }
    
    .homeNav {
        padding: 15px;
        margin-top: 15px;
        background-color: var(--blue);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
    
    .homeNav nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    
    .homeNav .links {
        text-decoration: none;
        color: var(--darkBlue);
    }
    
    .links :hover {
        font-weight: bold;
        color: var(--white);
    }
    
    .homeNav button {
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.8rem;
        gap: 0px;
        background-color: var(--blue);
        color: var(--darkBlue);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
    
    .quickAccessContainer {
        margin-top: 15px;
        padding: 10px;
        border-radius: 15px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
    
    .quickAccessOption {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
    }
    
    .quickAccessOption button {
        border: none;
        background: none;
        cursor: pointer;
        color: var(--darkBlue);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        text-align: center;
    }
    
    .quickAccessOption button p:hover {
        color: var(--white);
    }
    
    .othersContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        padding: 10px;
        border-radius: 15px;
        flex-direction: column;
    }
    
    .otherItem {
        margin: 10px 0;
        padding: 10px;
        width: 100%;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
    }
    
    .otherItem:hover {
        background-color: var(--blue);
        color: var(--white);
    }
    
    .otherItem button {
        border: none;
        background: none;
        cursor: pointer;
        color: inherit;
    }
    
    .otherItemWithSVG {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    @media (max-width: 600px) {
        body {
            font-size: 0.7rem;
        }
        .headerPage {
            padding: 10px;
        }
        .homePage {
            padding-bottom: 45%;
        }
        .header img {
            height: 40px;
            width: 40px;
        }
        .headerSVG {
            width: 25px;
            height: 25px;
        }
        .balanceHeader,
        .availableBalance,
        .availableBalance button,
        .transferOption p,
        .wealthOption p,
        .quickAccessContainer p {
            font-size: 0.7rem;
        }
        .transferOption,
        .balanceContainer,
        .wealthContainer {
            padding: 10px;
        }
        .transferOption svg,
        .wealthContainer svg,
        .headerSVG,
        .links svg,
        .otherSVG,
        .quickAccessContainer svg {
            height: 25px;
            width: 25px;
        }
        .homeNav {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            z-index: 1000;
            border-top: 1px solid var(--white);
            box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05);
        }
        .homeNav button {
            font-size: 0.6rem;
            gap: 5px;
        }
        .homeNav nav {
            overflow-x: scroll;
        }
    }